 <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                  <a class="page-nav" href="{{site.baseurl}}/"><img src="{{site.baseurl}}/img/icw-logo.png"></a>
                </li>
                <li>
                    <a class="page-nav" href="{{site.baseurl}}/about/">About</a>
                </li>

                <li>
                    <a class="page-nav" href="{{site.baseurl}}/contact-us/">Contact</a>
                </li> 

                <li>
                    <a class="page-nav" href="/tournament/">Tournament</a>
                </li>

            </ul>
        </div>
