/*- Custom style -*/

// -- Put custom style under this point -- //

//Form

#contact-form {
    border: 1px solid #aaa;
    display: inline-flex;
    margin-bottom: 6em;
}

.contact-li {
    list-style: none;
}

.contact-label {
    display: block;
}

.contact-input {
    border:none;
    border-bottom: 1px solid #eee;
    transition-duration: 0.3s;
    width: 12em;
}

.contact-input:focus {
    outline:none;
    border-bottom: 1px solid $main-color;
}

#submit {
    border:none;
    background-color: $main-color;
    padding: 5px 15px;
    color: #eee;
}

#submit:hover {
    box-shadow: 0px 0px 5px #aaa;
}

ul#form-ul {
    margin: 0;
    padding: 1em;
}

//end form


//align

.clear {clear: both}
.left { float: left}
.right { float: right}
.circle{border-radius: 50%}
.founder{margin-right: 1em; margin-bottom:0; width: 10em; }



@media (min-width: 700px) {}